@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0a0c0f;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  overflow: hidden;
  cursor:none
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-header {
  border-radius: 0px;
  background: linear-gradient(315deg, #070707, #090909);
  box-shadow:  -6px -6px 12px #040404,
               6px 6px 12px #0c0c0c;
}


